<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IOS_ASS1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7ED26C881E5BD20E009C126F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7ED26CA51E5BD20F009C126F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7ED26CB01E5BD20F009C126F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
